body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.controls {
    width: 100vw;
    height: 2em;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
}

.controls button {
    color: white;
    height: 100%;
    width: 20em;
    border: none;
    background: hsla(0, 0%, 100%, 0);
}

.controls button:hover {
    background: hsla(0, 0%, 100%, 0.2);
}

.controls button:disabled {
    background: hsla(0, 0%, 100%, 0.2);
}

#sketch-select {
    margin: 0 2em;
}
